<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} - HouseHunter{% endblock %}</title>
    <link rel="stylesheet" type=""text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="navbar">
      <ul class="listhorizontal">
      <li><a style="font-size: 30px;color: #000;" href="{{ url_for('index') }}">Home</a></li>
      <li><a style="font-size: 30px;color: #000;" href="{{ url_for('single') }}">Search by Address</a></li>
      <li><a style="font-size: 30px;color: #000;" href="{{ url_for('search') }}">Search by Features</a></li>
      <li><a style="font-size: 30px;color: #000;" href="{{ url_for('about') }}">About</a></li>
      </ul>
    </div>
    <hr>
    <div class="content">
        {% block content %} {% endblock %}
    </div>
</body>
</html>