<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js">
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js">
</script>
</head>

{% extends 'base.html' %}
{% block title %}Search by Address{% endblock %} 
{% block content %} 

{% if msg is defined %}
<p style="color: #000000; text-align: center; margin-left: 20%; margin-right: 20%">{{ msg }}</p>
{% endif %}

<form method="POST" action="">
    <table class="invisible_table">
        <tr>
            <td>Search by Address</td>
            <td>{{ form.csrf_token }}{{ form.address(size = 40) }} 
                    <script>
                        $( function() {
                            searchtext = [
                                {% for address in address_list %}
                                  "{{address}}",
                                {% endfor %}
                        ];
                        $( "{{'#address'}}").autocomplete({
                            source: searchtext
                        });
                        });
                    </script>
                {% if form.address.errors %} 
                  {% for error in form.address.errors %} 
                  <span style="color: red;"><br>{{ error }}</span>
                  {% endfor %} 
                {% endif %} 
            </td>
        </tr>
        <tr>
            <td colspan="4">
                <input type="submit" name="Search" value="search" class="big_submit">
            </td>
        </tr>
    </table>
    </form>
<br>
<p style="color: #000000; text-align: center; margin-left: 20%; margin-right: 20%">
    Search for information about a property by address using the searchbox below
    <br>
    <br>
    If an address doesn't auto-fill, it's not available in the dataset</p>  

{% endblock %} 
</html>
